ECR_URI=<your-ecr-uri>
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=<your-account-id>
RDS_ENDPOINT=<string-from-creating-rds>
RDS_USERNAME=<rds-username>
RDS_PASSWORD=<rds-password>
RDS_DATABASE=<database-name>