version: "3.9"
services: 
  flask-api: 
    build: ./backend
    container_name: flask-api
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./backend:/app
    
    