apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce #Volume can be mounted as read-wrte by a single node
  resources:
    requests:
      storage: 5Gi

